<div class="section-wrapper">
<section class="about">
  <h2>About Me</h2>
  <p class="about-text">
    I'm a passionate Data Engineer at ITC Infotech, where I build scalable data pipelines and deliver analytics solutions using tools like SQL, Python, Power BI, ADF, Synapse, and Azure Databricks. I began my journey in 2023 as a Data Analyst and quickly transitioned into data engineering by consistently upskilling and taking ownership of real-world projects. <br><br>
    Whether it's designing efficient ETL workflows or simplifying complex data for business teams, I love turning raw data into meaningful insights that drive impact. Outside of work, I'm always exploring new tools, automating workflows, and leveling up one byte at a time.
  </p>
</section>
  <!-- Your hero content -->
</div>
