<div class="section-wrapper">
  <!-- Your hero content -->


<section class="hero">
  <div class="hero-content">
    <h1 class="fade-in">
      Hi, I’m <span>Sahin Saikh</span> 👋
    </h1>
    <p class="typewriter subtitle">Azure Data Engineer | Scalable Pipeline Builder | SQL, Python & Cloud Enthusiast</p>

    <div class="hero-buttons fade-in">
      <button (click)="scrollToSection('projects')">View Work</button>
      <button (click)="scrollToSection('contact')">Contact Me</button>
    </div>
  </div>
</section>
</div>